# Data
data/

# Jupyter
notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.eggs/

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
notebooks V2/notebook 2 - communities - v3/semantic_embeddings.pt
